/* COLORS */
@theme {
  /* BACKGROUND  */
  --color-background-app: var(--background-background-app);
  --color-background: var(--background-background-app);
  --color-background-alpha: var(--background-background-alpha);
  --color-background-1: var(--background-background-1);
  --color-background-1-active: var(--background-background-1-active);
  --color-background-2: var(--background-background-2);
  --color-background-2-active: var(--background-background-2-active);
  --color-background-3: var(--background-background-3);
  --color-background-3-active: var(--background-background-3-active);
  --color-background-inverse: var(--background-background-inverse);
  --color-background-brand: var(--background-background-brand);
  --color-background-brand-subtle: var(--background-background-brand-subtle);
  --color-background-information: var(--background-background-information);
  --color-background-success: var(--background-background-success);
  --color-background-warning: var(--background-background-warning);
  --color-background-error: var(--background-background-error);
  --color-button-pri-fill: var(--constant-color-brand);
  --color-button-sec-text: var(--text-text);
  --color-button-sec-fill: var(--button-secondary-button-sec-fill);
  --color-semantic-sematic-branding: var(--semantic-sematic-branding);

  /* BORDER */
  --color-border-1: var(--border-border-1);
  --color-border-1-subtle: var(--border-border-1-subtle);
  --color-border-2: var(--border-border-2);
  --color-border-2-subtle: var(--border-border-2-subtle);
  --color-border-3: var(--border-border-3);
  --color-border-3-subtle: var(--border-border-3-subtle);
  --color-border-active: var(--border-border-active);
  --color-border-alpha: var(--border-border-alpha);
  --color-border-alpha-subtle: var(--border-border-alpha-subtle);
  --color-border-inverse: var(--border-border-inverse);
  --color-border-crop: var(--border-border-crop);
  --color-border-alpha: var(--border-border-alpha);
  --color-border-alpha-subtle: var(--border-border-alpha-subtle);
  /* AVATAR */
  --color-avatar-background-1: var(--avatar-avatar-backround-1);
  --color-avatar-background-2: var(--avatar-avatar-backround-2);
  --color-avatar-background-3: var(--avatar-avatar-backround-3);
  --color-avatar-background-4: var(--avatar-avatar-backround-4);
  --color-avatar-background-5: var(--avatar-avatar-backround-5);
  --color-avatar-background-6: var(--avatar-avatar-backround-6);
  --color-avatar-background-7: var(--avatar-avatar-backround-7);
  --color-avatar-background-8: var(--avatar-avatar-backround-8);
  --color-avatar-background-9: var(--avatar-avatar-backround-9);
  --color-avatar-background-10: var(--avatar-avatar-backround-10);
  --color-avatar-background-11: var(--avatar-avatar-backround-11);
  --color-avatar-background-12: var(--avatar-avatar-backround-12);
  --color-avatar-text: var(--avatar-avatar-text);
  /* BUTTON */
  --color-button-primary-text: var(--button-primary-button-pri-text);
  --color-button-primary-icon: var(--button-primary-button-pri-icon);
  --color-button-primary-fill: var(--button-primary-button-pri-fill);
  --color-button-primary-fill-active: var(--button-primary-button-pri-fill-active);
  --color-button-primary-danger-text: var(--button-primarydanger-button-pri-danger-text);
  --color-button-primary-danger-icon: var(--button-primarydanger-button-pri-danger-icon);
  --color-button-primary-danger-#6946E200fill: var(--button-primarydanger-button-pri-danger-fill);
  --color-button-primary-danger-fill-active: var(--button-primarydanger-button-pri-danger-fill-active);
  --color-button-secondary-text: var(--button-secondary-button-sec-text);
  --color-button-secondary-icon: var(--button-secondary-button-sec-icon);
  --color-button-secondary-fill: var(--button-secondary-button-sec-fill);
  --color-button-secondary-fill-active: var(--button-secondary-button-sec-fill-active);
  --color-button-secondary-danger-text: var(--button-secondarydanger-button-sec-danger-text);
  --color-button-secondary-danger-icon: var(--button-secondarydanger-button-sec-danger-icon);
  --color-button-secondary-danger-fill: var(--button-secondarydanger-button-sec-danger-fill);
  --color-button-secondary-danger-fill-active: var(--button-secondarydanger-button-sec-danger-fill-active);
  --color-button-tertiary-text: var(--button-tertiary-button-ter-text);
  --color-button-tertiary-icon: var(--button-tertiary-button-ter-icon);
  --color-button-tertiary-fill: var(--button-tertiary-button-ter-fill);
  --color-button-tertiary-fill-active: var(--button-tertiary-button-ter-fill-active);
  --color-button-tertiary-subtle-text: var(--button-tertiarysubtle-button-ter-subtle-text);
  --color-button-tertiary-subtle-icon: var(--button-tertiarysubtle-button-ter-subtle-icon);
  --color-button-tertiary-subtle-fill: var(--button-tertiarysubtle-button-ter-subtle-fill);
  --color-button-tertiary-subtle-fill-active: var(--button-tertiarysubtle-button-ter-subtle-fill-active);
  --color-button-disabled-fill: var(--button-disabled-button-disabled-fill);
  --color-button-disabled-text: var(--button-disabled-button-disabled-text);
  --color-button-disabled-icon: var(--button-disabled-button-disabled-icon);
  --color-button-secondary-o-text: var(--obutton-secondary-o-button-sec-text);
  --color-button-secondary-o-icon: var(--obutton-secondary-o-button-sec-icon);
  --color-button-secondary-o-fill: var(--obutton-secondary-o-button-sec-fill);
  --color-button-secondary-o-fill-active: var(--obutton-secondary-o-button-sec-fill-active);
  /* CALL OUT */
  --color-callout-fill: var(--callout-callout-fill);
  /* INPUT */
  --color-input-field-background: var(--input-field-background);
  --color-input-field-background-disabled: var(--input-field-background-disabled);
  --color-input-field-caret: var(--input-field-caret);
  --color-input-field-border: var(--input-field-border);
  --color-input-field-border-active: var(--input-field-border-active);
  --color-input-field-border-error: var(--input-field-border-error);
  --color-input-field-text-placeholder: var(--input-field-text-placeholder);
  --color-input-field-text-label: var(--input-field-text-label);
  --color-input-field-text-active: var(--input-field-text-active);
  /* CARD */
  --color-card-background: var(--card-card-background);
  /* POPUP */
  --color-popover-snackbar-fill: var(--popover-snackbar-fill);
  /* TABS */
  --color-tabs-tab-inactive-indicator: var(--tabs-tab-inactive-indicator);
  --color-tabs-tab-inactive-text: var(--tabs-tab-inactive-text);
  --color-tabs-tab-active-indicator: var(--tabs-tab-active-indicator);
  --color-tabs-tab-active-text: var(--tabs-tab-active-text);
  /* MODAL */
  --color-modal-fill: var(--modal-modal-fill);
  /* SCRIM */
  --color-scrim-fill: var(--scrim-scrim-fill);
  /* SHEET */
  --color-sheet-bottom-handle-fill: var(--sheet-bottom-bottom-sheet-handle-fill);
  --color-sheet-bottom-fill: var(--sheet-bottom-bottom-sheet-fill);
  --color-sheet-bottom-layer-stack-fill: var(--sheet-bottom-layer-stack-fill);
  /* NAVIGATION */
  --color-navigation-bottom-center-thumb-border: var(--navigation-bottom-bottom-nav-center-thumb-border);
  --color-navigation-bottom-center-thumb-fill: var(--navigation-bottom-bottom-nav-center-thumb-fill);
  --color-navigation-bottom-icon-inactive: var(--navigation-bottom-bottom-nav-icon-inactive);
  --color-navigation-bottom-icon-active: var(--navigation-bottom-bottom-nav-icon-active);
  /* PROGRESS */
  --color-progress-circle-track-fill: var(--progress-progress-circle-track-fill);
  --color-progress-on-color-indicator: var(--progress-progress-on-color-indicator);
  --color-progress-bar-on-color-track-fill: var(--progress-progress-bar-on-color-track-fill);
  --color-progress-indicator: var(--progress-progress-indicator);
  --color-progress-bar-track-fill: var(--progress-progress-bar-track-fill);
  /* TOAST */
  --color-toast-fill: var(--toast-toast-fill);
  /* BADGE */
  --color-badge-text: var(--badge-badge-text);
  --color-badge-ekyc-check-mark: var(--badge-badge-ekyc-check-mark);
  --color-badge-fill: var(--badge-badge-fill);
  --color-badge-ekyc-fill: var(--badge-badge-ekyc-fill);
  --color-badge-dot-fill: var(--badge-badge-dot-fill);
  /* SELECTION */
  --color-selection-fill: var(--selection-selection-fill);
  --color-selection-border: var(--selection-selection-border);
  --color-selection-fill-on-color: var(--selection-selection-fill-on-color);
  --color-selection-border-on-color: var(--selection-selection-border-on-color);
  --color-selection-fill-active: var(--selection-selection-fill-active);
  --color-selection-mark: var(--selection-selection-mark);
  --color-selection-mark-2: var(--selection-selection-mark-2);
  --color-selection-switch-fill: var(--selection-selection-switch-fill);
  --color-selection-switch-handle: var(--selection-selection-switch-handle);
  /* INTERACTION */
  --color-interaction-hover: var(--interaction-interaction-hover);
  --color-interaction-hover-constant: var(--interaction-interaction-hover-constant);
  --color-interaction-hover-subtle: var(--interaction-interaction-hover-subtle);
  --color-selection-border: var(--selection-selection-border);
  --color-selection-fill-on-color: var(--selection-selection-fill-on-color);
  --color-selection-border-on-color: var(--selection-selection-border-on-color);
  --color-selection-fill-active: var(--selection-selection-fill-active);
  --color-selection-mark: var(--selection-selection-mark);
  --color-selection-mark-2: var(--selection-selection-mark-2);
  --color-selection-switch-fill: var(--selection-selection-switch-fill);
  --color-selection-switch-handle: var(--selection-selection-switch-handle);
  /* SLIDER */
  --color-slider-thumb: var(--slider-slider-thumb);
  --color-slider-track-active: var(--slider-slider-track-active);
  --color-slider-track-inactive: var(--slider-slider-track-inactive);
  /* TEXT */
  --color-text: var(--text-text);
  --color-text-subtle: var(--text-text-subtle);
  --color-text-subtlest: var(--text-text-subtlest);
  --color-text-disabled: var(--text-text-disabled);
  --color-text-on-inverse: var(--text-text-on-inverse);
  --color-text-on-inverse-sublte: var(--text-text-on-inverse-subtle);
  --color-text-on-color: var(--text-text-on-color);
  --color-text-brand: var(--text-text-brand);
  --color-text-information: var(--text-text-information);
  --color-text-success: var(--text-text-success);
  --color-text-error: var(--text-text-error);
  --color-text-warning: var(--text-text-warning);
  --color-text-label-1: var(--text-text-label-1);
  --color-text-label-2: var(--text-text-label-2);
  --color-text-sematic-warning: var(--semantic-sematic-warning);

  /* ICON */
  --color-icon: var(--icon-icon);
  --color-icon-subtle: var(--icon-icon-subtle);
  --color-icon-disabled: var(--icon-icon-disabled);
  --color-icon-on-inverse: var(--icon-icon-on-inverse);
  --color-icon-on-color: var(--icon-icon-on-color);
  --color-icon-color: var(--icon-icon-color);
  --color-icon-interactive: var(--icon-icon-interactive);
  --color-icon-information: var(--icon-icon-information);
  --color-icon-success: var(--icon-icon-success);
  --color-icon-error: var(--icon-icon-error);
  --color-icon-warning: var(--icon-icon-warning);
  /* LINK */
  --color-link-link: var(--link-link);
  --color-link-link-active: var(--link-link-active);
  /* MSCELLANEOUS */
  --color-overlay: var(--miscellaneous-overlay);
  --color-skeleton-background: var(--miscellaneous-skeleton-background);
  --color-skeleton-element: var(--miscellaneous-skeleton-element);

}

:root {

  --neutralgray-ng1: #F7F7F7;
  --neutralgray-ng5: #EDEDED;
  --neutralgray-ng8: #E2E2E2;
  --neutralgray-ng10: #D8D8D8;
  --neutralgray-ng15: #CECECE;
  --neutralgray-ng20: #C1C1C1;
  --neutralgray-ng30: #ADADAD;
  --neutralgray-ng40: #999999;
  --neutralgray-ng50: #868686;
  --neutralgray-ng60: #6D6D6D;
  --neutralgray-ng70: #595959;
  --neutralgray-ng80: #444444;
  --neutralgray-ng85: #383838;
  --neutralgray-ng90: #2D2D2D;
  --neutralgray-ng92: #232323;
  --neutralgray-ng95: #191919;
  --neutralgray-ng100: #0F0F0F;
  --white-white-a0: #FFFFFF00;
  --white-white-a5: #FFFFFF0C;
  --white-white-a10: #FFFFFF19;
  --white-white-a15: #FFFFFF26;
  --white-white-a20: #FFFFFF33;
  --white-white-a25: #FFFFFF3F;
  --white-white-a30: #FFFFFF4C;
  --white-white-a35: #FFFFFF59;
  --white-white-a40: #FFFFFF66;
  --white-white-a45: #FFFFFF72;
  --white-white-a50: #FFFFFF7F;
  --white-white-a55: #FFFFFF8C;
  --white-white-a60: #FFFFFF99;
  --white-white-a65: #FFFFFFA5;
  --white-white-a70: #FFFFFFB2;
  --white-white-a75: #FFFFFFBF;
  --white-white-a80: #FFFFFFCC;
  --white-white-a85: #FFFFFFD8;
  --white-white-a90: #FFFFFFE5;
  --white-white-a95: #FFFFFFF2;
  --white-white-a100: #FFFFFF;
  --black-black-a0: #00000000;
  --black-black-a5: #0000000C;
  --black-black-a10: #00000019;
  --black-black-a15: #00000026;
  --black-black-a20: #00000033;
  --black-black-a25: #0000003F;
  --black-black-a30: #0000004C;
  --black-black-a35: #00000059;
  --black-black-a40: #00000066;
  --black-black-a45: #00000072;
  --black-black-a50: #0000007F;
  --black-black-a55: #0000008C;
  --black-black-a60: #00000099;
  --black-black-a65: #000000A5;
  --black-black-a70: #000000B2;
  --black-black-a75: #000000BF;
  --black-black-a80: #000000CC;
  --black-black-a85: #000000D8;
  --black-black-a90: #000000E5;
  --black-black-a95: #000000F2;
  --black-black-a100: #000000;
  --purplesaros-pu1: #F3EEFB;
  --purplesaros-pu5: #E5DDF9;
  --purplesaros-pu10: #D7CCF6;
  --purplesaros-pu15: #CABCF3;
  --purplesaros-pu18: #C4B2FF;
  --purplesaros-pu20: #BCABF1;
  --purplesaros-pu30: #A089EC;
  --purplesaros-pu40: #8568E7;
  --purplesaros-pu50: #6946E2;
  --purplesaros-pu60: #5539B9;
  --purplesaros-pu70: #422B90;
  --purplesaros-pu80: #2E1E68;
  --purplesaros-pu85: #241753;
  --purplesaros-pu90: #1B103F;
  --purplesaros-pu95: #110A2A;
  --purplesaros-pu100: #070316;
  --yellow-y1: #FDF7E7;
  --yellow-y5: #FBEFCB;
  --yellow-y10: #F9E6AF;
  --yellow-y15: #F7DE92;
  --yellow-y20: #F4D576;
  --yellow-y30: #F2CC59;
  --yellow-y40: #F0C43F;
  --yellow-y50: #EFBA19;
  --yellow-y60: #D9A60C;
  --yellow-y70: #BE9107;
  --yellow-y80: #A27B05;
  --yellow-y85: #876502;
  --yellow-y90: #695001;
  --yellow-y95: #4D3A00;
  --yellow-y100: #2E2200;
  --red-r1: #FCEEED;
  --red-r5: #F8D6D2;
  --red-r10: #F4BDB7;
  --red-r15: #F0A49D;
  --red-r20: #EC8D82;
  --red-r30: #E97467;
  --red-r40: #E45748;
  --red-r50: #E03B28;
  --red-r60: #C82D1C;
  --red-r70: #AE2718;
  --red-r80: #932115;
  --red-r85: #781B11;
  --red-r90: #5D150D;
  --red-r95: #420F09;
  --red-r100: #2C0A06;
  --orange-or1: #FDF5EC;
  --orange-or5: #FBE6CF;
  --orange-or10: #FAD8B2;
  --orange-or15: #F8CA95;
  --orange-or20: #F6BB78;
  --orange-or30: #F4AD5C;
  --orange-or40: #F29C3A;
  --orange-or50: #F08B18;
  --orange-or60: #D7790D;
  --orange-or70: #BA690B;
  --orange-or80: #9E590A;
  --orange-or85: #814808;
  --orange-or90: #643806;
  --orange-or95: #472804;
  --orange-or100: #2F1A03;
  --blue-b1: #EEF2FB;
  --green-gr1: #EEFBF2;
  --green-gr5: #D5F5DE;
  --green-gr10: #BDEECA;
  --green-gr15: #A4E9B6;
  --green-gr20: #8AE4A2;
  --green-gr30: #72DE8F;
  --green-gr40: #56D778;
  --green-gr50: #39CF61;
  --green-gr60: #2BB951;
  --green-gr70: #25A146;
  --green-gr80: #1F883C;
  --green-gr85: #197030;
  --green-gr90: #145625;
  --green-gr95: #0F3D1B;
  --green-gr100: #092912;
  --blue-b5: #D4DFF6;
  --blue-b10: #BBCBF0;
  --blue-b15: #A2B8EB;
  --blue-b20: #89A5E6;
  --blue-b30: #7092E0;
  --blue-b40: #527BDA;
  --blue-b50: #3564D4;
  --blue-b60: #2854BD;
  --blue-b70: #2249A4;
  --blue-b80: #1D3E8A;
  --blue-b85: #183271;
  --blue-b90: #122758;
  --blue-b95: #0D1C3F;
  --blue-b100: #08122A;
  --brown-br1: #F6F5F3;
  --brown-br5: #E8E5E2;
  --brown-br10: #DCD6CF;
  --brown-br15: #D2C7BB;
  --brown-br20: #C8B8A6;
  --brown-br30: #BDA993;
  --brown-br40: #AF987D;
  --brown-br50: #A18667;
  --brown-br60: #8E7457;
  --brown-br70: #7B654B;
  --brown-br80: #68553F;
  --brown-br85: #554634;
  --brown-br90: #423628;
  --brown-br95: #2F261D;
  --brown-br100: #1F1913;
  --cyan-cy1: #EEFAF8;
  --cyan-cy5: #D7F3EF;
  --cyan-cy10: #BFECE6;
  --cyan-cy15: #A8E5DD;
  --cyan-cy20: #90DED4;
  --cyan-cy30: #78D7CB;
  --cyan-cy40: #5CCFC0;
  --cyan-cy50: #41C7B5;
  --cyan-cy60: #33B1A1;
  --cyan-cy70: #2C9A8C;
  --cyan-cy80: #258276;
  --cyan-cy85: #1E6B61;
  --cyan-cy90: #17534B;
  --cyan-cy95: #103C36;
  --cyan-cy100: #0A2824;
  --blur-background-strong: 200;
  --blur-background: 20;
}

/* LIGHT */
:root {
  --avatar-avatar-backround-1: var(--neutralgray-ng30);
  --avatar-avatar-backround-2: var(--red-r50);
  --avatar-avatar-backround-3: var(--yellow-y60);
  --avatar-avatar-backround-4: var(--orange-or60);
  --avatar-avatar-backround-5: var(--brown-br50);
  --avatar-avatar-backround-6: var(--green-gr40);
  --avatar-avatar-backround-7: var(--green-gr70);
  --avatar-avatar-backround-8: var(--cyan-cy50);
  --avatar-avatar-backround-9: var(--blue-b30);
  --avatar-avatar-backround-10: var(--blue-b60);
  --avatar-avatar-backround-11: var(--yellow-y50);
  --avatar-avatar-backround-12: var(--yellow-y30);
  --avatar-avatar-text: var(--text-text-on-color);
  --ai-ai-button-fill: var(--white-white-a100);
  --button-primary-button-pri-text: var(--text-text-on-color);
  --semantic-sematic-branding: var(--constant-color-brand);
  --semantic-sematic-succeed: var(--green-gr60);
  --semantic-sematic-critical: var(--red-r50);
  --semantic-sematic-warning: var(--orange-or50);
  --semantic-sematic-informative: var(--blue-b40);
  --button-primary-button-pri-icon: var(--white-white-a100);
  --button-primary-button-pri-fill: var(--constant-color-brand);
  --button-primary-button-pri-fill-active: var(--yellow-y60);
  --button-primarydanger-button-pri-danger-text: var(--text-text-on-color);
  --button-primarydanger-button-pri-danger-icon: var(--white-white-a100);
  --button-primarydanger-button-pri-danger-fill: var(--semantic-sematic-critical);
  --button-primarydanger-button-pri-danger-fill-active: var(--red-r60);
  --button-secondary-button-sec-text: var(--text-text);
  --button-secondarydanger-button-sec-danger-text: var(--text-text-error);
  --button-secondarydanger-button-sec-danger-icon: var(--icon-icon-error);
  --button-secondarydanger-button-sec-danger-fill: #8C84AC19;
  --button-secondarydanger-button-sec-danger-fill-active: #8C84AC33;
  --button-tertiary-button-ter-text: var(--yellow-y50);
  --button-tertiary-button-ter-icon: var(--yellow-y50);
  --button-tertiary-button-ter-fill: var(--black-black-a0);
  --button-tertiary-button-ter-fill-active: var(--black-black-a5);
  --button-secondary-button-sec-icon: var(--icon-icon);
  --button-secondary-button-sec-fill: #8c84ac19;
  --button-secondary-button-sec-fill-active: #8C84AC33;
  --button-tertiarysubtle-button-ter-subtle-text: var(--neutralgray-ng70);
  --button-tertiarysubtle-button-ter-subtle-icon: var(--neutralgray-ng70);
  --button-tertiarysubtle-button-ter-subtle-fill: var(--black-black-a0);
  --button-tertiarysubtle-button-ter-subtle-fill-active: var(--black-black-a5);
  --button-disabled-button-disabled-fill: var(--black-black-a10);
  --button-disabled-button-disabled-text: var(--text-text-disabled);
  --button-disabled-button-disabled-icon: var(--icon-icon-disabled);
  --obutton-secondary-o-button-sec-text: var(--text-text);
  --obutton-secondary-o-button-sec-icon: var(--icon-icon);
  --obutton-secondary-o-button-sec-fill: var(--black-black-a5);
  --obutton-secondary-o-button-sec-fill-active: var(--black-black-a10);
  --callout-callout-fill: var(--neutralgray-ng8);
  --input-field-background: var(--white-white-a100);
  --input-field-background-disabled: var(--neutralgray-ng8);
  --input-field-caret: var(--yellow-y50);
  --input-field-border: var(--border-border-alpha);
  --input-field-border-active: var(--yellow-y50);
  --input-field-border-error: var(--semantic-sematic-critical);
  --input-field-text-placeholder: var(--text-text-subtlest);
  --input-field-text-label: var(--text-text-subtle);
  --input-field-text-active: var(--text-text);
  --card-card-background: var(--white-white-a100);
  --popover-snackbar-fill: var(--neutralgray-ng90);
  --tabs-tab-inactive-indicator: var(--black-black-a0);
  --tabs-tab-inactive-text: var(--text-text-subtlest);
  --tabs-tab-active-indicator: var(--icon-icon);
  --tabs-tab-active-text: var(--text-text);
  --modal-modal-fill: var(--background-background-3);
  --scrim-scrim-fill: var(--black-black-a80);
  --sheet: bottom-bottom-sheet-handle-fill: var(--white-white-a10);
  --sheet: bottom-bottom-sheet-fill: var(--background-background-2);
  --sheet: bottom-layer-stack-fill: var(--neutralgray-ng10);
  --navigation: bottom-bottom-nav-center-thumb-border: var(--white-white-a100);
  --navigation: bottom-bottom-nav-center-thumb-fill: var(--neutralgray-ng5);
  --navigation: bottom-bottom-nav-icon-inactive: var(--neutralgray-ng30);
  --navigation: bottom-bottom-nav-icon-active: var(--icon-icon);
  --progress-progress-circle-track-fill: var(--black-black-a10);
  --progress-progress-on-color-indicator: var(--white-white-a60);
  --progress-progress-bar-on-color-track-fill: var(--white-white-a10);
  --progress-progress-indicator: var(--yellow-y50);
  --progress-progress-bar-track-fill: var(--black-black-a10);
  --toast-toast-fill: var(--background-background-3);
  --badge-badge-text: var(--neutralgray-ng1);
  --badge-badge-ekyc-check-mark: var(--neutralgray-ng1);
  --badge-badge-fill: var(--red-r50);
  --badge-badge-ekyc-fill: var(--blue-b40);
  --badge-badge-dot-fill: var(--red-r50);
  --selection-selection-fill: var(--black-black-a0);
  --interaction-interaction-hover: var(--white-white-a20);
  --interaction-interaction-hover-constant: var(--white-white-a20);
  --interaction-interaction-hover-subtle: var(--white-white-a10);
  --selection-selection-border: var(--neutralgray-ng60);
  --selection-selection-fill-on-color: var(--white-white-a50);
  --selection-selection-border-on-color: var(--black-black-a50);
  --selection-selection-fill-active: var(--background-background-brand);
  --selection-selection-mark: var(--white-white-a100);
  --selection-selection-mark-2: var(--background-background-brand);
  --selection-selection-switch-fill: var(--black-black-a20);
  --selection-selection-switch-handle: var(--white-white-a100);
  --slider-slider-thumb: var(--semantic-sematic-branding);
  --slider-slider-track-active: #8568e799;
  --slider-slider-track-inactive: #8568E733;
}

.dark {
  --avatar-avatar-backround-1: var(--neutralgray-ng30);
  --avatar-avatar-backround-2: var(--red-r50);
  --avatar-avatar-backround-3: var(--yellow-y60);
  --avatar-avatar-backround-4: var(--orange-or60);
  --avatar-avatar-backround-5: var(--brown-br50);
  --avatar-avatar-backround-6: var(--green-gr50);
  --avatar-avatar-backround-7: var(--green-gr70);
  --avatar-avatar-backround-8: var(--cyan-cy50);
  --avatar-avatar-backround-9: var(--blue-b30);
  --avatar-avatar-backround-10: var(--blue-b50);
  --avatar-avatar-backround-11: var(--yellow-y50);
  --avatar-avatar-backround-12: var(--yellow-y30);
  --avatar-avatar-text: var(--text-text-on-color);
  --ai-ai-button-fill: var(--white-white-a100);
  --button-primary-button-pri-text: var(--text-text-on-color);
  --semantic-sematic-branding: var(--constant-color-brand);
  --semantic-sematic-succeed: var(--green-gr70);
  --semantic-sematic-critical: var(--red-r60);
  --semantic-sematic-warning: var(--orange-or60);
  --semantic-sematic-informative: var(--blue-b50);
  --button-primary-button-pri-icon: var(--white-white-a100);
  --button-primary-button-pri-fill: var(--constant-color-brand);
  --button-primary-button-pri-fill-active: var(--yellow-y40);
  --button-primarydanger-button-pri-danger-text: var(--text-text-on-color);
  --button-primarydanger-button-pri-danger-icon: var(--white-white-a100);
  --button-primarydanger-button-pri-danger-fill: var(--semantic-sematic-critical);
  --button-primarydanger-button-pri-danger-fill-active: var(--red-r40);
  --button-secondary-button-sec-text: var(--text-text);
  --button-secondarydanger-button-sec-danger-text: var(--text-text-error);
  --button-secondarydanger-button-sec-danger-icon: var(--icon-icon-error);
  --button-secondarydanger-button-sec-danger-fill: #DFDBEF19;
  --button-secondarydanger-button-sec-danger-fill-active: #E0DCEF33;
  --button-tertiary-button-ter-text: var(--yellow-y40);
  --button-tertiary-button-ter-icon: var(--yellow-y40);
  --button-tertiary-button-ter-fill: var(--white-white-a0);
  --button-tertiary-button-ter-fill-active: var(--white-white-a5);
  --button-secondary-button-sec-icon: var(--icon-icon);
  --button-secondary-button-sec-fill: #DFDBEF19;
  --button-secondary-button-sec-fill-active: #E0DCEF33;
  --button-tertiarysubtle-button-ter-subtle-text: var(--neutralgray-ng30);
  --button-tertiarysubtle-button-ter-subtle-icon: var(--neutralgray-ng30);
  --button-tertiarysubtle-button-ter-subtle-fill: var(--white-white-a0);
  --button-tertiarysubtle-button-ter-subtle-fill-active: var(--white-white-a5);
  --button-disabled-button-disabled-fill: var(--white-white-a10);
  --button-disabled-button-disabled-text: var(--text-text-disabled);
  --button-disabled-button-disabled-icon: var(--icon-icon-disabled);
  --obutton-secondary-o-button-sec-text: var(--text-text);
  --obutton-secondary-o-button-sec-icon: var(--icon-icon);
  --obutton-secondary-o-button-sec-fill: var(--white-white-a5);
  --obutton-secondary-o-button-sec-fill-active: var(--white-white-a10);
  --callout-callout-fill: var(--neutralgray-ng90);
  --input-field-background: var(--white-white-a5);
  --input-field-background-disabled: var(--white-white-a10);
  --input-field-caret: var(--yellow-y40);
  --input-field-border: var(--border-border-alpha);
  --input-field-border-active: var(--yellow-y40);
  --input-field-border-error: var(--semantic-sematic-critical);
  --input-field-text-placeholder: var(--text-text-subtlest);
  --input-field-text-label: var(--text-text-subtle);
  --input-field-text-active: var(--text-text);
  --card-card-background: var(--white-white-a5);
  --popover-snackbar-fill: var(--white-white-a100);
  --tabs-tab-inactive-indicator: var(--white-white-a0);
  --tabs-tab-inactive-text: var(--text-text-subtlest);
  --tabs-tab-active-indicator: var(--icon-icon);
  --tabs-tab-active-text: var(--text-text);
  --modal-modal-fill: var(--background-background-3);
  --scrim-scrim-fill: var(--black-black-a80);
  --sheet: bottom-bottom-sheet-handle-fill: var(--black-black-a10);
  --sheet: bottom-bottom-sheet-fill: var(--background-background-1);
  --sheet: bottom-layer-stack-fill: var(--neutralgray-ng90);
  --navigation: bottom-bottom-nav-center-thumb-border: var(--neutralgray-ng95);
  --navigation: bottom-bottom-nav-center-thumb-fill: var(--neutralgray-ng100);
  --navigation: bottom-bottom-nav-icon-inactive: var(--neutralgray-ng70);
  --navigation: bottom-bottom-nav-icon-active: var(--icon-icon);
  --progress-progress-circle-track-fill: var(--white-white-a10);
  --progress-progress-on-color-indicator: var(--white-white-a60);
  --progress-progress-bar-on-color-track-fill: var(--white-white-a10);
  --progress-progress-indicator: var(--yellow-y40);
  --progress-progress-bar-track-fill: var(--white-white-a10);
  --toast-toast-fill: var(--background-background-3);
  --badge-badge-text: var(--neutralgray-ng1);
  --badge-badge-ekyc-check-mark: var(--neutralgray-ng1);
  --badge-badge-fill: var(--red-r50);
  --badge-badge-ekyc-fill: var(--blue-b50);
  --badge-badge-dot-fill: var(--red-r50);
  --selection-selection-fill: var(--white-white-a0);
  --interaction-interaction-hover: var(--black-black-a15);
  --interaction-interaction-hover-constant: var(--white-white-a20);
  --interaction-interaction-hover-subtle: var(--black-black-a5);
  --selection-selection-border: var(--neutralgray-ng40);
  --selection-selection-fill-on-color: var(--white-white-a50);
  --selection-selection-border-on-color: var(--black-black-a50);
  --selection-selection-fill-active: var(--background-background-brand);
  --selection-selection-mark: var(--white-white-a100);
  --selection-selection-mark-2: var(--background-background-brand);
  --selection-selection-switch-fill: var(--white-white-a15);
  --selection-selection-switch-handle: var(--white-white-a100);
  --slider-slider-thumb: var(--semantic-sematic-branding);
  --slider-slider-track-active: #8568e799;
  --slider-slider-track-inactive: #8568E733;
}

html {
  --background-background-app: var(--white-white-a100);
  --background-background-1: var(--neutralgray-ng5);
  --background-background-1-active: var(--neutralgray-ng8);
  --background-background-2: var(--neutralgray-ng1);
  --background-background-2-active: var(--neutralgray-ng5);
  --background-background-3: var(--white-white-a100);
  --background-background-3-active: var(--neutralgray-ng5);
  --background-background-inverse: var(--neutralgray-ng92);
  --background-background-brand: var(--purplesaros-pu50);
  --background-background-brand-subtle: var(--purplesaros-pu1);
  --background-background-information: var(--blue-b5);
  --background-background-success: var(--green-gr5);
  --background-background-warning: var(--orange-or5);
  --background-background-error: var(--red-r5);
  --background-background-alpha: var(--black-black-a5);
  --border-border-1: var(--neutralgray-ng10);
  --border-border-1-subtle: var(--neutralgray-ng8);
  --border-border-2: var(--neutralgray-ng8);
  --border-border-2-subtle: var(--neutralgray-ng5);
  --border-border-3: var(--neutralgray-ng8);
  --border-border-3-subtle: var(--neutralgray-ng1);
  --border-border-active: var(--purplesaros-pu50);
  --border-border-inverse: var(--neutralgray-ng92);
  --border-border-crop: var(--white-white-a100);
  --border-border-alpha: var(--black-black-a10);
  --border-border-alpha-subtle: #8C84AC19;
  --link-link: var(--purplesaros-pu50);
  --link-link-active: var(--purplesaros-pu60);
  --text-text: var(--neutralgray-ng100);
  --icon-icon: var(--neutralgray-ng95);
  --icon-icon-subtle: var(--neutralgray-ng50);
  --icon-icon-disabled: var(--black-black-a20);
  --icon-icon-on-inverse: var(--neutralgray-ng5);
  --icon-icon-on-inverse-sublte: var(--neutralgray-ng60);
  --icon-icon-on-color: var(--neutralgray-ng1);
  --icon-icon-interactive: var(--yellow-y40);
  --icon-icon-brand: var(--purplesaros-pu50);
  --icon-icon-information: var(--blue-b50);
  --icon-icon-success: var(--green-gr60);
  --icon-icon-error: var(--red-r50);
  --icon-icon-warning: var(--orange-or50);
  --text-text-subtle: var(--neutralgray-ng60);
  --text-text-subtlest: var(--neutralgray-ng40);
  --text-text-disabled: var(--black-black-a25);
  --text-text-on-inverse: var(--neutralgray-ng1);
  --text-text-on-inverse-sublte: var(--neutralgray-ng40);
  --text-text-on-color: var(--neutralgray-ng1);
  --text-text-brand: var(--yellow-y50);
  --text-text-information: var(--blue-b50);
  --text-text-success: var(--green-gr70);
  --text-text-error: var(--red-r50);
  --text-text-warning: var(--orange-or60);
  --constant-color-brand: var(--yellow-y50);
  --text-text-label-1: var(--brown-br60);
  --text-text-label-2: var(--neutralgray-ng60);
  --miscellaneous-overlay: var(--black-black-a80);
  --miscellaneous-skeleton-background: var(--black-black-a5);
  --miscellaneous-skeleton-element: var(--black-black-a10);
  --miscellaneous-ios-status-bar: var(--black-black-a100);
  --constant-constant-white: var(--white-white-a100);
  --constant-constant-black: var(--black-black-a100);
  --constant-constant-green: var(--green-gr70);
  --constant-constant-red: var(--red-r50);
}

html.dark {
  --background-background-app: var(--neutralgray-ng100);
  --background-background-1: var(--neutralgray-ng100);
  --background-background-1-active: var(--neutralgray-ng95);
  --background-background-2: var(--neutralgray-ng92);
  --background-background-2-active: var(--neutralgray-ng90);
  --background-background-3: var(--neutralgray-ng90);
  --background-background-3-active: var(--neutralgray-ng85);
  --background-background-inverse: var(--neutralgray-ng8);
  --background-background-brand: var(--yellow-y50);
  --background-background-brand-subtle: var(--purplesaros-pu100);
  --background-background-information: var(--blue-b90);
  --background-background-success: var(--green-gr90);
  --background-background-warning: var(--orange-or90);
  --background-background-error: var(--red-r90);
  --background-background-alpha: var(--white-white-a5);
  --border-border-1: var(--neutralgray-ng92);
  --border-border-1-subtle: var(--neutralgray-ng95);
  --border-border-2: var(--neutralgray-ng85);
  --border-border-2-subtle: var(--neutralgray-ng90);
  --border-border-3: var(--neutralgray-ng80);
  --border-border-3-subtle: var(--neutralgray-ng85);
  --border-border-active: var(--yellow-y40);
  --border-border-inverse: var(--neutralgray-ng8);
  --border-border-crop: var(--black-black-a100);
  --border-border-alpha: var(--white-white-a10);
  --border-border-alpha-subtle: #E0DCEF19;
  --link-link: var(--yellow-y40);
  --link-link-active: var(--yellow-y50);
  --text-text: var(--neutralgray-ng1);
  --icon-icon: var(--neutralgray-ng5);
  --icon-icon-subtle: var(--neutralgray-ng50);
  --icon-icon-disabled: var(--white-white-a20);
  --icon-icon-on-inverse: var(--neutralgray-ng95);
  --icon-icon-on-inverse-sublte: var(--neutralgray-ng40);
  --icon-icon-on-color: var(--neutralgray-ng1);
  --icon-icon-interactive: var(--yellow-y50);
  --icon-icon-brand: var(--yellow-y40);
  --icon-icon-information: var(--blue-b30);
  --icon-icon-success: var(--green-gr50);
  --icon-icon-error: var(--red-r40);
  --icon-icon-warning: var(--orange-or40);
  --text-text-subtle: var(--neutralgray-ng40);
  --text-text-subtlest: var(--neutralgray-ng60);
  --text-text-disabled: var(--white-white-a25);
  --text-text-on-inverse: var(--neutralgray-ng100);
  --text-text-on-inverse-sublte: var(--neutralgray-ng60);
  --text-text-on-color: var(--neutralgray-ng1);
  --text-text-brand: var(--yellow-y40);
  --text-text-information: var(--blue-b40);
  --text-text-success: var(--green-gr60);
  --text-text-error: var(--red-r40);
  --text-text-warning: var(--orange-or50);
  --constant-color-brand: var(--yellow-y50);
  --text-text-label-1: var(--brown-br60);
  --text-text-label-2: var(--neutralgray-ng40);
  --miscellaneous-overlay: var(--black-black-a80);
  --miscellaneous-skeleton-background: var(--white-white-a5);
  --miscellaneous-skeleton-element: var(--white-white-a10);
  --miscellaneous-ios-status-bar: var(--white-white-a100);
  --constant-constant-white: var(--white-white-a100);
  --constant-constant-black: var(--black-black-a100);
  --constant-constant-green: var(--green-gr70);
  --constant-constant-red: var(--red-r50);
}