@theme {
  --breakpoint-large: 968px;

  --spacing-space-0: 0px;
  --spacing-space-012: 1px;
  --spacing-space-025: 2px;
  --spacing-space-050: 4px;
  --spacing-space-075: 6px;
  --spacing-space-100: 8px;
  --spacing-space-125: 10px;
  --spacing-space-150: 12px;
  --spacing-space-187: 15px;
  --spacing-space-200: 16px;
  --spacing-space-250: 20px;
  --spacing-space-300: 24px;
  --spacing-space-350: 28px;
  --spacing-space-400: 32px;
  --spacing-space-500: 40px;
  --spacing-space-550: 44px;
  --spacing-space-600: 48px;
  --spacing-space-650: 52px;
  --spacing-space-700: 56px;
  --spacing-space-800: 64px;
  --spacing-space-900: 72px;
  --spacing-space-1000: 80px;
  --spacing-space-1200: 96px;
  --spacing-space-1400: 112px;
  --spacing-space-1600: 128px;
  --spacing-space-2500: 200px;
  --spacing-space-3000: 240px;
  --spacing-space-3750: 300px;
  --spacing-space-5000: 400px;
  --spacing-space-5200: 416px;
  --spacing-space-7100: 568px;
  --spacing-space-8000: 640px;
  --spacing-space-9600: 768px;
  --spacing-space-20_000: 1600px;

  --spacing-size-025: var(--size-size-025);
  --spacing-size-050: var(--size-size-050);
  --spacing-size-075: var(--size-size-075);
  --spacing-size-100: var(--size-size-100);
  --spacing-size-125: var(--size-size-125);
  --spacing-size-150: var(--size-size-150);
  --spacing-size-200: var(--size-size-200);
  --spacing-size-250: var(--size-size-250);
  --spacing-size-300: var(--size-size-300);
  --spacing-size-350: var(--size-size-350);
  --spacing-size-400: var(--size-size-400);
  --spacing-size-450: var(--size-size-450);
  --spacing-size-500: var(--size-size-500);
  --spacing-size-600: var(--size-size-600);
  --spacing-size-700: var(--size-size-700);
  --spacing-size-800: var(--size-size-800);
  --spacing-size-900: var(--size-size-900);
  --spacing-size-1000: var(--size-size-1000);
  --spacing-size-1200: var(--size-size-1200);
  --spacing-size-1400: var(--size-size-1400);
  --spacing-size-1600: var(--size-size-1600);
  --spacing-size-1800: var(--size-size-1800);
  --spacing-size-2000: var(--size-size-2000);
  --spacing-size-2400: var(--size-size-2400);
  --spacing-size-2800: var(--size-size-2800);
  --spacing-size-3200: var(--size-size-3200);
  --spacing-size-3600: var(--size-size-3600);
  --spacing-size-4000: var(--size-size-4000);
}

html {
  --size-size-025: 2px;
  --size-size-050: 4px;
  --size-size-075: 6px;
  --size-size-100: 8px;
  --size-size-125: 10px;
  --size-size-150: 12px;
  --size-size-187: 15px;
  --size-size-200: 16px;
  --size-size-250: 20px;
  --size-size-300: 24px;
  --size-size-350: 28px;
  --size-size-400: 32px;
  --size-size-450: 36px;
  --size-size-500: 40px;
  --size-size-600: 48px;
  --size-size-700: 56px;
  --size-size-800: 64px;
  --size-size-900: 72px;
  --size-size-1000: 80px;
  --size-size-1200: 96px;
  --size-size-1400: 112px;
  --size-size-1600: 128px;
  --size-size-1800: 144px;
  --size-size-2000: 160px;
  --size-size-2400: 192px;
  --size-size-2800: 224px;
  --size-size-3200: 256px;
  --size-size-3600: 288px;
  --size-size-4000: 320px;
  --size-screen-7100: 568px;
  --size-screen-9600: 768px;
}